<div class="authorizationBlock logged" id="logged">
    <a class="profileLink">
        <img src="./Images/profile.png" alt="">
        <a href="#" class="active">Мій профіль</a>
    </a>
    
    <p>|</p>
    <a href="#">Вийти</a>
</div>