<div class="modalMarkers">
    <div id="religiousKhMarker" class="marker">
        <div class="markerWrap">
            <img src="./Images/schedule_tour.png" alt="">
            <div class="markerDesc">
                <h2>Чудова назва<br> 
                чудової екскурсії</h2>
                <div>
                    <p>Харківська опера</p>
                    <p>Садиба диба</p>
                </div>
                <div>
                    <p>Дзеркальний струмінь</p>
                    <p>Університет ім. Каразіна</p>
                </div>
            </div>
        </div>
        <div class="markerActions">
            <a href="schedule.html">Записатися</a>            
            <a href="religiousKh.html">Детальніше</a> 
        </div>
    </div>
</div>