    <footer>
        <a href="tel:+380673939649" class="footerEl">
         <i class="fas fa-mobile-alt"></i>
            <p>+38 067 39 39 649</p>
        </a>
        <a href="" class="footerEl">
            <i class="far fa-envelope"></i>
               <p>tripcy@tour.com</p>
           </a>
           <a href="" class="footerEl">
            <i class="fab fa-instagram"></i>
               <p>@tripcy_tours</p>
           </a>
           <a href="" class="footerEl">
            <i class="fab fa-google-play"></i>
               <p>Our mobile app</p>
           </a>
    </footer>