<main>
<div class="previewMain">
    <a href="/map"></a>
    <div>
        <h1>Tripcy -</h1>
        <h3>кращий вибір<br>
            для прогулянки<br>
            Харковом</h3>
    </div>
</div>
<div class="excursionsMain">
    <h2>Наші екскурсії</h2>
    <div class="firstExLine">
        <a class="exPreview" href="/tours?title=Релігійний Харків">Релігійний Харків</a>
        <a class="exPreview" href="/tours?title=Без чого Харків – не Харків">Без чого Харків -<br> не Харків</a>
    </div>
    <div class="secondExLine">
        <a class="exPreview" href="/tours?title=Історія однієї вулиці">Історія однієї вулиці</a>
        <a class="exPreview" href="/tours?title=Садиба навіжених"> Садиба навіжених</a>
        <a class="exPreview" href="/tours?title=Харків – місто універів">Харків - <br> місто універів</a>
    </div>

</div>
<div class="advantagesBlock">
    <h2>Наші переваги</h2>
    <div class="advantagesfirstline">
        <div class="advantageBlock">
            <div class="circleBlock">
                <h1>1</h1>
            </div>
            <p>Для того, щоб чудово розбиратися в темі потрібно<br>
                знати її до найдрібніших подробиць. Чи не так?<br>
                Ми сміливо можемо сказати, що наші екскурсоводи<br>
                знають усе про Харків, адже вони всі Made in Kharkiv;)
            </p>
        </div>
        <div class="advantageBlock">
            <div class="circleBlock">
                <h1>2</h1>
            </div>
            <p>Цікавий екскурсовод - екскурсовод, який любить свою<br>
                роботу. Чому ми сприймаємо нашу роботу як дозвілля,<br>
                а не рутину? Все просто - ми закохані в Харків.
            </p>
        </div>
        <div class="advantageBlock">
            <div class="circleBlock">
                <h1>3</h1>
            </div>
            <p>Як наші історії вас можуть зацікавити? Ми знаємо секрет;)<br>
                Наші історії складаються не тільки з пізнавальної книжкової<br>
                інформації, а розбавлені дивовижними історіями корінних<br>
                харків'ян протягом століть.
            </p>
        </div> 
    </div>                   
    <div class="advantagesSecondLine">
        <div class="advantageBlock">
            <div class="circleBlock">
                <h1>4</h1>
            </div>
            <p>Для того, щоб наші екскурсії не здавалися нудними і<br>
                шаблонними ми додали "родзинку" - крім цікавих<br>
                історичних споруд, ми зможемо завести вас у<br>
                найпотаємніші і найцікавіші місця Харкова.
            </p>
        </div>
        <div class="advantageBlock">
            <div class="circleBlock">
                <h1>5</h1>
            </div>
            <p>Ми дуже любимо своїх клієнтів! Тому ми максимально спростили<br>
                завдання для запису на екскурсію і завжди зателефонуємо вам,<br>
                якщо ви запізнюєтесь на екскурсію.</p>
        </div>
    </div>                
</div>
<div class="questionsBlock">
    <div class="formQuestion">
        {{> feedbackForm}}
    </div>
</div>
</main>