<main>
        <div class="interactiveMap">
            <h2> Інтерактивна мапа</h2>
            <p>Натискай на маркер та дивись детальний маршрут про екскурсію</p>
            <div class="mapBlock">
                <img src="./Images/map.jpg">
                <i class="fas fa-map-marker-alt" value="regKha" id="regKha" onclick="ShowModalMarker()"></i> 
                <i class="fas fa-map-marker-alt" value="withoutKha" id="withoutKha" onclick="ShowModalMarker()"></i>
                <i class="fas fa-map-marker-alt" value="historyKha" id="historyKha" onclick="ShowModalMarker()"></i>
                <i class="fas fa-map-marker-alt" value="crazyHouse" id="crazyHouse" onclick="ShowModalMarker()"></i> 
                <i class="fas fa-map-marker-alt" value="univerKha" id="univerKha" onclick="ShowModalMarker()"></i>
            </div>
        </div>
</main>