<main>
        <div class="scheduleBlock">
            <div class="filterBlock">
                <h3>Обрати дату:</h3>
                <select>
                    <option value="22.03">Якась </option>
                    <option value="22.03">22.03</option>
                    <option value="22.03">22.03</option>
                    <option value="22.03">22.03</option>
                </select>
            </div>
            <div class="dateBlock">22.03.2020</div>
            <div class="scheduleWrap">
                <div class="traceBlock">
                    <img class="step" src="./Images/r_step.png">
                    <img class="step" src="./Images/l_step.png">
                    <img class="step" src="./Images/r_step.png">
                    <img class="step" src="./Images/l_step.png">
                    <img class="step" src="./Images/r_step.png">
                    <img class="step" src="./Images/l_step.png">
                    <div class="pointBlock">
                        <div class="circle"></div>
                        <p>13:00</p>
                    </div>
                    <img class="step" src="./Images/l_step.png">
                    <img class="step" src="./Images/r_step.png">
                    <img class="step" src="./Images/l_step.png">
                    <img class="step" src="./Images/r_step.png">
                    <img class="step" src="./Images/l_step.png">
                    <img class="step" src="./Images/r_step.png">
                    <img class="step" src="./Images/l_step.png">
                    <img class="step" src="./Images/r_step.png">
                    <img class="step" src="./Images/l_step.png">
                    <img class="step" src="./Images/r_step.png">
                    <div class="pointBlock">
                        <div class="circle"></div>
                        <p>13:00</p>
                    </div>
                </div>
                <div class="excursionsBlock">
                    <div class="excursion">
                        <div class="mainInfo">
                            <img src="./Images/schedule_tour.png" alt="">
                            <div class="description">
                                <h3>Релігійний Харків</h3>
                                <div class="sightsOfEx">
                                    <h4>Покровський собор</h4>
                                    <h4>Храм Святих<br> Жінок-Мироносиць</h4>
                                    <h4>Собор Успіння<br> Пресвятої Діви Марії</h4>
                                </div>
                                <div class="moreInfoBlock">
                                    <p><span>Де: </span>вул Шаленого Кодзюби, 47</p>
                                    <p><span>Коли: </span>22.03.2020 у 13:00</p>
                                    <p><span>Гід: </span>Манулов М.В.</p>
                                    <p><span>Вид екскурсії: </span>Індивідуальна (1-5 людей)</p>
                                    <p><span>Ціна: </span>400 грн за особу</p>
                                </div>
                            </div>
                        </div>
                        <div class="actionsBlock">
                            <a onclick="ShowModalPay()">Записатися</a>
                            <a>Детальніше</a>
                        </div>
                    </div>
                    <div class="excursion">
                        <div class="mainInfo">
                            <img src="./Images/schedule_tour.png" alt="">
                            <div class="description">
                                <h3>Релігійний Харків</h3>
                                <div class="sightsOfEx">
                                    <h4>Покровський собор</h4>
                                    <h4>Храм Святих<br> Жінок-Мироносиць</h4>
                                    <h4>Собор Успіння<br> Пресвятої Діви Марії</h4>
                                </div>
                                <div class="moreInfoBlock">
                                    <p><span>Де: </span>вул Шаленого Кодзюби, 47</p>
                                    <p><span>Коли: </span>22.03.2020 у 13:00</p>
                                    <p><span>Гід: </span>Манулов М.В.</p>
                                    <p><span>Вид екскурсії: </span>Індивідуальна (1-5 людей)</p>
                                    <p><span>Ціна: </span>400 грн за особу</p>
                                </div>
                            </div>
                        </div>
                        <div class="actionsBlock">
                            <a onclick="ShowModalPay()">Записатися</a>
                            <a>Детальніше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</main>